@model Transaction
<h1>Welcome</h1>
<p>Current balance: $@ViewBag.UserAccount.Balance</p>
<form asp-action="Subtract" asp-controller="Transaction" method="post">
    <label asp-for="Amount">How much would you like to Withdraw?</label> 
    <span asp-validation-for="Amount" class="text text-danger"></span>
    <input asp-for="Amount">
    <input type="hidden" asp-for="UserId">
    <input type="submit" value="Submit">
</form>

@{
    string message = TempData["Success"] as string;
    if (message != null)
    {
        <div class="text-success">@message</div>
    }
}

<hr>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
    @foreach(var t in @ViewBag.UserAccount.Transactions)
    {
        <tr>
            <td>@t.Amount</td>
            <td>@t.CreatedAt</td>
        </tr>
    }
    </tbody>
</table>